<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.apache.cordova.device"
        version="1.0">
    <name>SmsPlugin</name>
    <description>Cordova SMS Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,SMS</keywords>
    <repo>https://github.com/softdive/cordova-plugin-sms.git</repo>


    <js-module src="www/SmsPlugin.js" name="smsrec">
        <clobbers target="navigator.smsrec" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">

            <feature name="SmsPlugin">
                <param name="android-package" value="com.applegrew.cordova.android.plugin.sms.SmsPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_SMS" />
            <uses-permission android:name="android.permission.READ_SMS" />
        </config-file>

        <source-file src="src/android/Callback.java" target-dir="src/com/applegrew/cordova/android/plugin/sms" />
        <source-file src="src/android/JSONUtil.java" target-dir="src/com/applegrew/cordova/android/plugin/sms" />
        <source-file src="src/android/SampleLogSmsReceiverManifest.java" target-dir="src/com/applegrew/cordova/android/plugin/sms" />
        <source-file src="src/android/SMS.java" target-dir="src/com/applegrew/cordova/android/plugin/sms" />
        <source-file src="src/android/SmsInboxReader.java" target-dir="src/com/applegrew/cordova/android/plugin/sms" />
        <source-file src="src/android/SmsPlugin.java" target-dir="src/com/applegrew/cordova/android/plugin/sms" />
        <source-file src="src/android/SmsReceiver.java" target-dir="src/com/applegrew/cordova/android/plugin/sms" />
        <source-file src="src/android/SmsReceiverManifest.java" target-dir="src/com/applegrew/cordova/android/plugin/sms" />
        <source-file src="src/android/SmsReceiverRuntime.java" target-dir="src/com/applegrew/cordova/android/plugin/sms" />

    </platform>
</plugin>
